.text-style{ color : green; letter-spacing: 10px; word-spacing: 15px; text-decoration: underline; text-align: center; font-size: 60px; font-family: 'body-text';}

@font-face{
    font-family: 'body-text';
    src: url(./font/Montserrat-Regular.ttf);
}
