body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.table-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #000;
    margin-bottom: 20px;
}

.liga-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.liga-table th,
.liga-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.liga-table th {
    background-color: #1e3d58;
    color: white;
}

.liga-table tr:hover {
    background-color: #f1f1f1;
}


.first-place {
    background-color: #f0c34e;
    font-weight: bold;
}

.first-place td {
    color: #000;
}
