ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
     background-color: grey;
    overflow: hidden;
display: inline-block;
height: 100%;
width: 300px;
}
ul li {
font-weight: 900;
}
ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
}
ul li a:hover:not(.active){
    background-color:blue;
}
.active{
    background: green;
}
body{
    margin: 0;
}