.gallery-item{
    width: 4px;
    height: auto;
}
.gallery-item{
float: left;
border:1px solid gray;
margin: 10px;
}
.item-desc{
    padding: 10px;
}
.gallery-item:hover{
    transform: scale(1.04);
    transition: all ease-in-out 0.2s;
}