<<<<<<< HEAD
.static{
    border: 1px solid red;
    width: 200px;
    height: 200px;
    position: static;
    padding: 10px;
}
.relativ{
    border: 5px solid green;
    width: 300px;
    height: 300px;
    position: relative;
    padding: 10px;
    left: 500px;
    top: 50px;
}
.absolute{
    width: 200px;
    height: 200px;
    border: 20px solid red;
    position: absolute;
    left: 600px;
    right: 50px;
}
.sticky{
    width: 300px;
    height: 300px;
    border: 50px solid rgb(0, 255, 234);
    position: sticky;
    left: 400px;
    right: 100px;
}
.fixed{
    width: 400px;
    height: 400px;
    border: 60px solid rgb(0, 136, 79);
    position: fixed;
    left: 300px;
    right: 150px;
    top: 50px;
}
.inner{
    width: 10px;
    height: 10px;
    border: 10px solid black;
}
.outer{
    width: 150;
    height: 150;
    border: 10px solid orange;
    align-items: center;
    justify-items: center;
}
=======

    .static{
        border: 2px solid red;
        width: 200px;
        height: 200px;
        position: static;
        padding: 10px;
        left:200px;
        top:20 ;
    }
    .relativ{
        border: 5px solid green;
        width: 400px;
        height: 300px;
        position: relative;
        padding: 10px;
        left: 700px;
        top: 50px;
    }
    .absolute{
        width: 600px;
        height: 600px;
        border: 20px solid rgb(55, 0, 255);
        left: 600px;
        right: 50px;
        left:200px;
        top:20 ;
    }
    .sticky{
        width: 400px;
        height: 400px;
        border: 20px solid rgb(0, 255, 149);
        left: 300px;
        right: 50px;
        left:200px;
        top:20 ;
    }
    .fixed{
        width: 500px;
        height: 200px;
        border: 40px solid rgb(255, 0, 234);
        position: fixed;
        left: 500px;
        right: 80px;
        left:400px;
        top:50px ;
    }
    .inner{
        width: 20px;
        height: 500px;
        border: 10px solid black;
    }
    .outer{
        width: 250;
        height: 350;
        border: 10px solid rgb(255, 0, 0);
        align-items: center;
        justify-items: center;
    }
>>>>>>> 9984fa72d7b2e5ff54aa927611255b4d5413caed
