.flex-containers{
    display: flex;
    background-color: blue;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 300px;
}
.flex-containers > div{
    padding: 20px;
    margin: 15px;
    color: red;
    border: 1px solid white;
}

.flex-containers > div:nth-child(1){
        align-self: flex-end;
}.flex-containers > div:nth-child(2){

}.flex-containers > div:nth-child(3){
    
}.flex-containers > div:nth-child(4){
    
}
.flex-containers > div:nth-child(4){
    
}


