.text-style{
    color:green;
    letter-spacing:20px;
    word-spacing:10px;
    text-decoration:wavy;
    text-align:left;
    font-size:50px;
    font-family: "body-text"
}

   @font-face{
    font-family: "body-text";
    src: url(./fonts/Bokor-Regular.ttf);
   }
    .font-class{
        font-family:"body-text";
        font-size:16px;
        font-weight:400px;
    }
